---
openapi: 3.1.0
servers:
  - url: https://api.subconscious.ai
info:
  title: SuperEgo
  description: 💕SuperEgo API powers Consulting and Product teams to design and run
    cost-effective, ethical, causal experiments. 🚀 Generative AI for Experimental
    Design. 👨‍🔬⚗️
  termsOfService: https://docs.subconscious.ai/support/terms-of-use
  contact:
    name: Avi Yashchin
    url: https://www.linkedin.com/in/aviyashchin/
    email: avi@subconscious.ai
  license:
    name: MIT
    url: https://github.com/Subconscious-ai/PoC/blob/main/LICENSE
  version: 0.0.1
paths:
  /experiments:
    post:
      tags:
      - experiments
      - experiments
      summary: Create Experiment Async
      description: "Run a novel experiment asynchronously using provided requirements.\n\
        \nThis endpoint initiates an experiment based on the input parameters. It\
        \ can handle both regular experiments\nand human baseline (HB) experiments.\
        \ The experiment is either run immediately (in debug mode) or enqueued\nfor\
        \ processing.\n\nParameters:\n- `req`: Experiment object containing experiment\
        \ details\n\nReturns:\n- ExperimentAsyncResponse object with the following\
        \ structure:\n    - `wandb_run_id`: Unique identifier for the experiment run\n\
        \    - `wandb_run_name`: Generated name for the experiment run\n\nExample\
        \ Response:\n```json\n{\n    \"wandb_run_id\": \"550e8400-e29b-41d4-a716-446655440000\"\
        ,\n    \"wandb_run_name\": \"causal-23-10-17-14-30-45-123\"\n}\n```\n\nNotes:\n\
        - For HB experiments, provide either `hb_folder` or `hb_run_id` in the request\n\
        - The experiment is run immediately if DEBUG mode is True, otherwise it's\
        \ enqueued\n- The `wandb_run_name` is generated using a random causal word\
        \ and the current timestamp\n\nRaises:\n- HTTPException 500: If an error occurs\
        \ during experiment creation or enqueuing"
      operationId: create_experiment_async_experiments_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Experiment'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExperimentAsyncResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - HTTPBearer: []
  /experiments/dependent-variable:
    post:
      tags:
      - experiments
      - experiments
      summary: Create Dependent Variable
      description: "Generate a dependent variable string (survey prompt) based on\
        \ the input question.\n\nThis endpoint creates a dependent variable that synthetic\
        \ respondents will respond to in an experiment.\nIt allows users to review\
        \ the generated survey prompt before running the experiment.\n\nParameters:\n\
        - `req`: DependentVariable object containing:\n    - `prompt_type`: Enum representing\
        \ the type or focus of the experiment\n    - `why_prompt`: String containing\
        \ the user's input question\n\nReturns:\n- DependentVariableResponse object\
        \ with the following structure:\n    - `dependent_variable`: String representing\
        \ the generated survey prompt\n\nExample Request:\n```json\n{\n    \"prompt_type\"\
        : \"generic\",\n    \"why_prompt\": \"How does social media usage affect sleep\
        \ patterns?\"\n}\n```\n\nExample Response:\n```json\n{\n  \"dependent_variable\"\
        : \"Please read the descriptions of the two social media usage scenarios carefully.\
        \ Then, please indicate which of the two scenarios you believe has a more\
        \ significant impact on sleep patterns.\"\n}\n```\n\nNotes:\n- The dependent\
        \ variable is generated using the GPT-4 language model\n- The generated dependent\
        \ variable can be added to the experiment object\n\nRaises:\n- HTTPException\
        \ 500: If an error occurs during the generation of the dependent variable"
      operationId: create_dependent_variable_experiments_dependent_variable_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DependentVariable'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DependentVariableResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - HTTPBearer: []
  /experiments/study-subject:
    post:
      tags:
      - experiments
      - experiments
      summary: Create Study Subject
      description: Create a study subject based on the input question.
      operationId: create_study_subject_experiments_study_subject_post
      security:
      - HTTPBearer: []
      parameters:
      - name: why_prompt
        in: query
        required: true
        schema:
          type: string
          title: Why Prompt
          example: How does social media usage affect sleep patterns?
  
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /attributes-levels:
    post:
      tags:
      - attributes_levels
      - attributes_levels
      summary: Create Attributes And Levels
      description: "Create attributes and levels for a given why_prompt.\n\nParameters:\n\
        - `req`: AttributesLevelsRequest object containing:\n    - `why_prompt`: The\
        \ main concept or prompt\n    - `country`: Target country\n    - `level_count`:\
        \ Number of levels per attribute (optional)\n    - `max_length`: Maximum length\
        \ for levels (optional)\n    - `llm_model`: Language model to use (optional)\n\
        \    - `attribute_count`: Number of attributes to generate (optional)\n\n\
        Returns:\n- List of attributes with their levels.\n\nExample Response:\n```json\n\
        [\n  {\n    \"attribute\": \"Price\",\n    \"levels\": [\n      \"The car\
        \ costs $30,000\",\n      \"The car costs $40,000\",\n      \"The car costs\
        \ $50,000\",\n      \"The car costs $60,000\",\n      \"The car costs $70,000\"\
        \n    ]\n  },\n  {\n    \"attribute\": \"Safety Rating\",\n    \"levels\"\
        : [\n      \"The car has a 3-star safety rating\",\n      \"The car has a\
        \ 4-star safety rating\",\n      \"The car has a 5-star safety rating\",\n\
        \      \"The car has a 5.5-star safety rating\"\n    ]\n  }\n]\n```\n\nRaises:\n\
        - HTTPException 404: If an error occurs during creation"
      operationId: create_attributes_and_levels_attributes_levels_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AttributesLevelsRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/LeveledAttributeBase'
                type: array
                title: Response Create Attributes And Levels Attributes Levels Post
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - HTTPBearer: []
  /attributes-levels/orthogonal:
    post:
      tags:
      - attributes_levels
      - attributes_levels
      summary: Create Orthogonal Attributes And Levels
      description: "Create new, independent (orthogonal) attributes and levels hat\
        \ do not intersect with existing ones..\n\nParameters:\n- `req`: OrthogonalAttributesLevelsRequest\
        \ object containing:\n    - `why_prompt`: The main concept - prompt text\n\
        \    - `country`: Target country\n    - `existing_attributes_levels`: List\
        \ of existing attributes and levels\n    - `new_attribute_count`: Number of\
        \ new attributes to generate (optional)\n    - `level_count`: Number of levels\
        \ per attribute (optional)\n    - `llm_model`: Language model to use (optional)\n\
        \nReturns:\n- List of orthogonal attributes with their levels.\n\nExample\
        \ Response:\n```json\n[\n    {\n    \"attribute\": \"Range\",\n    \"levels\"\
        : [\n      \"The car has a range of 200 miles\",\n      \"The car has a range\
        \ of 300 miles\",\n      \"The car has a range of 400 miles\",\n      \"The\
        \ car has a range of 500 miles\"\n    ]\n  },\n  {\n    \"attribute\": \"\
        Charging Time\",\n    \"levels\": [\n      \"The car charges in 30 minutes\"\
        ,\n      \"The car charges in 1 hour\",\n      \"The car charges in 2 hours\"\
        ,\n      \"The car charges in 3 hours\"\n    ]\n  }\n]\n```\n\nRaises:\n-\
        \ HTTPException 404: If an error occurs during creation"
      operationId: create_orthogonal_attributes_and_levels_attributes_levels_orthogonal_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrthogonalAttributesLevelsRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/LeveledAttributeBase'
                type: array
                title: Response Create Orthogonal Attributes And Levels Attributes
                  Levels Orthogonal Post
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - HTTPBearer: []
  /attributes:
    post:
      tags:
      - attributes_levels
      - attributes_levels
      summary: Create Attributes
      description: "Create a list of attributes for a given why_prompt.\n\nParameters:\n\
        - `req`: AttributesRequest object containing:\n    - `why_prompt`: The main\
        \ concept or input question\n    - `country`: Target country\n    - `attribute_count`:\
        \ Number of attributes to generate (optional)\n    - `prompt_type`: Type of\
        \ prompt to use (optional)\n    - `llm_model`: Language model to use (optional)\n\
        \nReturns:\n- List of attributes.\n\nExample Response:\n```json\n[\n    \"\
        Price\",\n    \"Range\",\n    \"Charging Time\",\n    \"Safety Rating\"\n\
        ]\n```\n\nRaises:\n- HTTPException 404: If an error occurs during creation"
      operationId: create_attributes_attributes_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AttributesRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                items:
                  type: string
                type: array
                title: Response Create Attributes Attributes Post
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - HTTPBearer: []
  /levels:
    post:
      tags:
      - attributes_levels
      - attributes_levels
      summary: Create Levels
      description: "Create levels for given attribute(s) of an why_prompt.\n\nParameters:\n\
        - `req`: LevelsRequest object containing:\n    - `why_prompt`: The main concept\
        \ or input question\n    - `country`: Target country\n    - `attributes`:\
        \ List of attributes to generate levels for\n    - `level_count`: Number of\
        \ levels per attribute (optional)\n    - `llm_model`: Language model to use\
        \ (optional)\n\nReturns:\n- List of attributes with their levels.\n\nExample\
        \ Response:\n```json\n[\n  {\n    \"attribute\": \"Price\",\n    \"levels\"\
        : [\n      \"The car costs $30,000\",\n      \"The car costs $40,000\",\n\
        \      \"The car costs $50,000\",\n      \"The car costs $60,000\",\n    \
        \  \"The car costs $70,000\"\n    ]\n  },\n  {\n    \"attribute\": \"Range\"\
        ,\n    \"levels\": [\n      \"The car has a range of 200 miles\",\n      \"\
        The car has a range of 300 miles\",\n      \"The car has a range of 400 miles\"\
        ,\n      \"The car has a range of 500 miles\"\n    ]\n  }\n]\n```\nRaises:\n\
        - HTTPException 404: If an error occurs during creation"
      operationId: create_levels_levels_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LevelsRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/LeveledAttributeBase'
                type: array
                title: Response Create Levels Levels Post
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - HTTPBearer: []
  /product_attribute_levels:
    post:
      tags:
      - attributes_levels
      - attributes_levels
      summary: Product Attribute Levels
      description: "Generate product levels based on attributes and pricing information.\n\
        \nThis endpoint uses Perplexity API to process the input to generate a list\
        \ of attributes that define the product,\ngenerates pricing levels (brand\
        \ & price pair), and creates levels for the provided attributes per brand/product.\n\
        \nParameters:\n- `req`: ProductAttributeRequest object containing:\n    -\
        \ `why_prompt`: The main question or prompt for the product\n    - `country`:\
        \ Target country for pricing and attributes\n    - `attribute_count`: Number\
        \ of attributes to generate (optional)\n    - `level_count`: Number of levels\
        \ per attribute to generate (optional)\n\nReturns:\n- List of LeveledAttributeBase\
        \ objects, each containing:\n    - `attribute`: An Attribute object with:\n\
        \        - `name`: The name of the attribute\n    - `levels`: List of strings\
        \ representing the different levels or options for the attribute\n\nExample\
        \ Response:\n```json\n[\n  {\n    \"attribute\": {\n      \"name\": \"Brands\"\
        \n    },\n    \"levels\": [\n      \"Tesla Model 3\",\n      \"Ford Mustang\
        \ Mach-E\",\n      \"Volkswagen ID.4\"\n    ]\n  },\n  {\n    \"attribute\"\
        : {\n      \"name\": \"Price\"\n    },\n    \"levels\": [\n      \"38000 USD\"\
        ,\n      \"42000 USD\",\n      \"46000 USD\",\n      \"50000 USD\",\n    \
        \  \"54000 USD\"\n    ]\n  }\n]\n```\n\nRaises:\n- HTTPException 404: If an\
        \ error occurs during the processing of product levels\n\nNote:\n- The number\
        \ of attributes and levels may vary based on the input parameters and product\
        \ complexity\n- This function runs attribute generation and price level generation\
        \ concurrently for efficiency"
      operationId: product_attribute_levels_product_attribute_levels_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductAttributeRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/LeveledAttributeBase'
                type: array
                title: Response Product Attribute Levels Product Attribute Levels
                  Post
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - HTTPBearer: []
  /traits:
    get:
      tags:
      - traits
      - traits
      summary: Get Traits
      description: "Retrieve all traits from the database.\n\nReturns:\n- `List[TraitLevel]`:\
        \ A list of TraitLevel objects representing all valid traits\n\nTraitLevel\
        \ structure:\n    - `id`: Unique identifier for the trait\n    - `set_type`:\
        \ Optional category of the trait (e.g., \"Big Five\", \"8 Values\")\n    -\
        \ `type`: The type of trait (e.g., \"religion\")\n    - `measurement_type`:\
        \ How the trait is measured (\"nominal\", \"ordinal\", \"interval\", \"ratio\"\
        )\n    - `ordinal_rank`: Optional ranking for ordinal traits\n    - `short_description`:\
        \ Brief description of the trait level (e.g., \"Satanist\")\n    - `long_description`:\
        \ Detailed description of the trait level\n\nExample Response:\n```json\n\
        [\n    {\n        \"id\": \"religion_1\",\n        \"set_type\": \"Personal\
        \ Values\",\n        \"type\": \"religion\",\n        \"measurement_type\"\
        : \"nominal\",\n        \"short_description\": \"Satanist\",\n        \"long_description\"\
        : \"My religion is Satanism\"\n    },\n    {\n        \"id\": \"openness_2\"\
        ,\n        \"set_type\": \"Big Five\",\n        \"type\": \"personality\"\
        ,\n        \"measurement_type\": \"ordinal\",\n        \"ordinal_rank\": 2,\n\
        \        \"short_description\": \"Medium Openness\",\n        \"long_description\"\
        : \"I am somewhat open to new experiences\"\n    }\n]\n```\nNotes:\n- Invalid\
        \ traits are logged and skipped\n- The total number of retrieved traits is\
        \ logged\n\nRaises:\n- HTTPException 500: If an error occurs while fetching\
        \ traits"
      operationId: get_traits_traits_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/TraitLevel'
                type: array
                title: Response Get Traits Traits Get
      security:
      - HTTPBearer: []
  
  
  
 
  /personas/history:
    post:
      tags:
      - personas
      - personas
      summary: Create History
      description: 'Generate historical factors relevant to a user''s decision-making
        process.


        This endpoint analyzes a given question and user profile to produce a set
        of

        historical factors that could influence the user''s decision. These factors

        provide context for understanding past behaviors and preferences.


        Parameters:

        - `req (HistoryRequest)`: Contains the question, user profile, and relevant
        attributes


        Returns:

        - `HistoryResponse`: A dictionary of historical factors and their descriptions


        Raises:

        - HTTPException 404: If there''s an error in generating historical factors'
      operationId: create_history_personas_history_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/HistoryRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HistoryResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - HTTPBearer: []
  /personas/constraints:
    post:
      tags:
      - personas
      - personas
      summary: Create Constraints
      description: "Generate constraints that may affect a user's decision-making\
        \ process.\n\n This endpoint analyzes a given question, user profile, and\
        \ relevant attributes to produce\n a set of constraints or limiting factors\
        \ that could influence the user's decision.\n These constraints help in understanding\
        \ the boundaries within which a decision is made.\n\n Parameters:\n - `req\
        \ (ConstraintRequest)`: Contains the question, user profile, and relevant\
        \ attributes\n\n Returns:\n - `ConstraintResponse`: A dictionary of constraints\
        \ and their descriptions"
      operationId: create_constraints_personas_constraints_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConstraintRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConstraintResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - HTTPBearer: []
  /personas/generate_questions:
    post:
      tags:
      - personas
      - personas
      summary: Create Questions
      description: "Generate questions for an experiment based on historical factors\
        \ and constraints.\n\nThis endpoint creates a set of questions tailored to\
        \ the given context, user profile,\nand specific dimensions of interest. The\
        \ questions are designed to gather insights\nabout the user's decision-making\
        \ process, considering both historical behavior and\ncurrent constraints.\n\
        \nParameters:\n- `req (QuestionRequest)`: Contains the main question, user\
        \ profile, and dimensions to explore\n\nReturns:\n- `QuestionResponse`: A\
        \ structured set of questions categorized by model type (history/constraints)\n\
        \  and dimensions, each with sample responses\n\nThe response includes:\n\
        - Two questions for each specified dimension\n- A set of sample responses\
        \ for each question\n\nRaises:\n- HTTPException 404: If there's an error in\
        \ generating the questions\n\nNote:\n- Questions are generated asynchronously\
        \ for efficiency\n- The structure is flexible and can accommodate various\
        \ models and dimensions"
      operationId: create_questions_personas_generate_questions_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QuestionRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QuestionResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - HTTPBearer: []
  /personas/motivation:
    post:
      tags:
      - personas
      - personas
      summary: Create Motivation
      description: 'Generate motivation factors influencing a user''s decision-making
        process.


        This endpoint analyzes the given context, user profile, historical factors,
        and constraints

        to produce a set of motivation factors that could drive the user''s decision.
        These factors

        help in understanding the underlying reasons behind a user''s choices.


        Parameters:

        - `req (MotivationRequest)`: Contains the main question, user profile, selected
        historical factors, and constraints


        Returns:

        - `MotivationResponse`: A dictionary of motivation factors and their descriptions


        Raises:

        - HTTPException 404: If there''s an error in generating motivation factors


        Note:

        - The generated motivation factors are based on the provided context and previously
        selected factors'
      operationId: create_motivation_personas_motivation_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MotivationRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MotivationResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - HTTPBearer: []

  /runs/{run_id}:
    get:
      tags:
      - runs
      summary: Get Run
      description: 'Fetch details of a specific experiment run.


        Parameters:

        - `run_id`: Unique identifier of the run.


        Returns:

        JSONResponse with:

        - `run_details`: Details of the requested run


        Notes:

        - Returns 403 if the run is private and not accessible to the user


        Raises:

        - HTTPException 500: If fetching run details fails'
      operationId: get_run_runs__run_id__get
      security:
      - HTTPBearer: []
      parameters:
      - name: run_id
        in: path
        required: true
        schema:
          type: string
          title: Run Id
          example: 5fbc361f-d4d9-474d-a447-9a3da29ca294
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'

  /runs/{hb_id}/details:
    get:
      tags:
      - runs
      summary: Get Hb Details
      description: 'Fetch details of a specific Human Baseline experiment.


        Parameters:

        - `hb_id`: Unique identifier of the Human Baseline experiment. e.g. `7h2ks593`


        Returns:


        JSONResponse containing the experiment details


        Raises:

        - HTTPException 500: If fetching HB experiment details fails'
      operationId: get_hb_details_runs__hb_id__details_get
      security:
      - HTTPBearer: []
      parameters:
      - name: hb_id
        in: path
        required: true
        schema:
          type: string
          title: Hb Id
          example: 3j7wse2j
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
 
  /copilot/check-causality:
    post:
      tags:
      - copilot
      - copilot
      summary: Check Causality
      description: "Check whether an why_prompt is causal or not.\n\nParameters:\n\
        - `req`: CausalityRequest object containing:\n    - `why_prompt`: The why_prompt\
        \ to check for causality\n    - `llm_model`: Language model to use for the\
        \ check (optional)\n\nReturns:\n- CausalityResponse object with the following\
        \ structure:\n    - `is_causal`: Boolean indicating whether the why_prompt\
        \ is causal\n    - `suggestions`: List of up to 3 strings, each a rephrased\
        \ version of the original why_prompt as a causal why_prompt\n\nExample Response:\n\
        ```json\n{\n    \"is_causal\": false,\n    \"suggestions\": [\n        \"\
        How does increasing the minimum wage affect employment rates?\",\n       \
        \ \"What is the impact of regular exercise on cardiovascular health?\",\n\
        \        \"To what extent does parental involvement influence a child's academic\
        \ performance?\"\n    ]\n}\n```\n\nRaises:\n- HTTPException 500: If an error\
        \ occurs during the causality check"
      operationId: check_causality_copilot_check_causality_post
      security:
      - HTTPBearer: []
    
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CausalityRequest'

      

      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CausalityResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
                
  /copilot/check-moderation:
    post:
      tags:
      - copilot
      - copilot
      summary: Moderate
      description: "Check whether a why_prompt complies with our content policy.\n\
        \nParameters:\n- `why_prompt`: The prompt text to check for content policy\
        \ compliance\n\nReturns:\n- JSONResponse object with the following structure:\n\
        \    - `flagged`: Boolean indicating whether the content was flagged\n   \
        \ - `flagged_categories`: List of categories that were flagged (empty if not\
        \ flagged)\n\nExample Response (flagged content):\n```json\n{\n    \"flagged\"\
        : true,\n    \"flagged_categories\": [\"violence\", \"hate\"]\n}\n```\n\n\
        Example Response (non-flagged content):\n```json\n{\n    \"flagged\": false,\n\
        \    \"flagged_categories\": []\n}\n```\n\nRaises:\n- HTTPException 500: If\
        \ an error occurs during the moderation check"
      operationId: moderate_copilot_check_moderation_post
      security:
      - HTTPBearer: []
      parameters:
      - name: why_prompt
        in: query
        required: true
        schema:
          type: string
          title: Why Prompt
          example: How does social media usage affect sleep patterns?
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  
  /human-baselines/{hb_folder}/replications-amces:
    get:
      tags:
      - human-baselines
      summary: Fetch human baseline AMCEs for a specific folder
      description: "Fetches human baseline experiment data and AMCE results for unique\
        \ LLM models.\n\nArgs:\n    hb_folder (str): The name of the human baseline\
        \ folder.\n\nReturns:\n    dict: A dictionary containing hb data and unique\
        \ replication details."
      operationId: fetch_human_baseline_replications_amces_human_baselines__hb_folder__replications_amces_get
      security:
      - HTTPBearer: []
      parameters:
      - name: hb_folder
        in: path
        required: true
        schema:
          type: string
          title: Hb Folder
          example: Abramova2022

      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                title: Response Fetch Human Baseline Replications Amces Human Baselines  Hb
                  Folder  Replications Amces Get
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /market-simulator/check-realworld-product:
    post:
      tags:
      - market-simulator
      - market-simulator
      summary: Check For Product
      description: "Check if a product mentioned in the question exists in the real\
        \ world.\n\nThis endpoint uses a language model to assess whether a product\
        \ described in the input question\nis likely to exist in reality. It makes\
        \ multiple attempts to get a reliable result.\n\nParameters:\n- `question`:\
        \ String containing the question or description of the product to check\n\n\
        Returns:\n- JSONResponse object with the following structure:\n    - `product_exists`:\
        \ Boolean indicating whether the product is likely to exist in the real world\n\
        \nExample Request:\n```\n{\n    \"question\": \"Does a smartphone that can\
        \ project holograms exist?\"\n}\n```\n\nExample Response:\n```json\n{\n  \
        \  \"product_exists\": false\n}\n```\n\nNotes:\n- The check is performed using\
        \ the GPT-4 language model\n- The endpoint makes up to 6 attempts to get a\
        \ reliable result\n- The final result is based on the average of successful\
        \ responses\n- A product is considered to exist if the average response is\
        \ greater than 4 on a scale of 1-7\n\nRaises:\n- HTTPException 404: If the\
        \ language model service is unavailable after multiple attempts"
      operationId: check_for_product_market_simulator_check_realworld_product_post
      security:
      - HTTPBearer: []
      parameters:
      - name: question
        in: query
        required: true
        schema:
          type: string
          title: Question
          example: Does a smartphone that can project holograms exist?
      
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /:
    get:
      tags:
      - main
      summary: Root
      description: 'Root endpoint.


        Returns:

        - str: "ok" if the server is running'
      operationId: root__get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: string
                title: Response Root  Get
  /ping-worker:
    post:
      tags:
      - main
      summary: Run Task
      description: 'Start a ping worker task.


        Returns:

        JSONResponse with:

        - `task_id`: ID of the started task


        Raises:

        - HTTPException 500: If starting the task fails'
      operationId: run_task_ping_worker_post
      responses:
        '201':
          description: Successful Response
          content:
            application/json:
              schema: {}
  /sentry-debug:
    get:
      tags:
      - main
      summary: Trigger Error
      description: 'Trigger a test error for Sentry debugging.


        Returns:

        JSONResponse with:

        - `error`: Message indicating the error was captured by Sentry'
      operationId: trigger_error_sentry_debug_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
  
components:
  schemas:
    AttributesLevelsRequest:
      properties:
        why_prompt:
          type: string
          title: Why Prompt
        country:
          type: string
          title: Country
        prompt_type:
          anyOf:
          - $ref: '#/components/schemas/PromptType'
          - type: 'null'
          default: product
        llm_model:
          anyOf:
          - $ref: '#/components/schemas/LLMModel'
          - type: 'null'
          default: gpt4
        attribute_count:
          type: integer
          maximum: 7.0
          minimum: 2.0
          title: Attribute Count
          description: The number of attributes in the experiment. This value must
            be an integer between 2 and 7, inclusive. If not provided, the default
            value is 4. Each attribute represents a characteristic or feature of the
            experiment.
          default: 4
        level_count:
          type: integer
          maximum: 5.0
          minimum: 2.0
          title: Level Count
          description: The number of levels in the experiment. This value must be
            an integer between 2 and 5, inclusive. If not provided, the default value
            is 4. Each level represents a different possible value or state of an
            attribute.
          default: 4
        max_length:
          type: integer
          maximum: 80.0
          minimum: 40.0
          title: Max Length
          description: 'The maximum # Characters per attribute. This value must be
            an integer between 40 and 80, inclusive. If not provided, the default
            value is 40.'
          default: 40
      type: object
      required:
      - why_prompt
      - country
      title: AttributesLevelsRequest
      description: Pydantic model for a request to create levels for attributes.
      example:
        attribute_count: 4
        country: United States of America
        level_count: 4
        llm_model: gpt4
        max_length: 40
        prompt_type: product
        why_prompt: I would like to design a new electric car for the American markets
    AttributesRequest:
      properties:
        why_prompt:
          type: string
          title: Why Prompt
        country:
          type: string
          title: Country
        prompt_type:
          anyOf:
          - $ref: '#/components/schemas/PromptType'
          - type: 'null'
          default: generic
        attribute_count:
          type: integer
          maximum: 10.0
          minimum: 2.0
          title: Attribute Count
          default: 4
        llm_model:
          anyOf:
          - $ref: '#/components/schemas/LLMModel'
          - type: 'null'
          default: gpt4
      type: object
      required:
      - why_prompt
      - country
      title: AttributesRequest
      example:
        attribute_count: 4
        country: United States of America
        llm_model: gpt3
        prompt_type: generic
        why_prompt: I would like to design a new electric car for the American markets
    CausalityRequest:
      properties:
        why_prompt:
          type: string
          title: Why Prompt
          default: How does social media usage affect sleep patterns?
          example: How does social media usage affect sleep patterns?
        llm_model:
          anyOf:
          - $ref: '#/components/schemas/LLMModel'
          - type: 'null'
          default: gpt4
          example: gpt4
      type: object
      required:
      - why_prompt
      title: CausalityRequest
    CausalityResponse:
      properties:
        is_causal:
          type: boolean
          title: Is Causal
          default: false
        suggestions:
          anyOf:
          - items:
              type: string
            type: array
          - type: 'null'
          title: Suggestions
      type: object
      required:
      - suggestions
      title: CausalityResponse
    ConstraintRequest:
      properties:
        why_prompt:
          type: string
          title: Why Prompt
        user_profile_attributes:
          additionalProperties:
            anyOf:
            - items:
                type: string
              type: array
            - items:
                type: integer
              type: array
            - items:
                type: number
              type: array
          type: object
          title: User Profile Attributes
        attributes:
          items:
            type: string
          type: array
          title: Attributes
        llm_model:
          anyOf:
          - $ref: '#/components/schemas/LLMModel'
          - type: 'null'
          default: gpt4
      type: object
      required:
      - why_prompt
      - user_profile_attributes
      - attributes
      title: ConstraintRequest
      example:
        attributes:
        - price
        - operating_system
        - battery_life
        - camera_quality
        - storage_capacity
        llm_model: gpt4
        user_profile_attributes:
          age_levels:
          - 25
          - 30
          education_levels:
          - Bachelors Degree
          gender_levels:
          - Male
          income_levels:
          - 50000
          - 75000
        why_prompt: What factors influence your choice in selecting a mobile phone?
    ConstraintResponse:
      properties:
        constraints:
          additionalProperties:
            type: string
          type: object
          title: Constraints
      type: object
      required:
      - constraints
      title: ConstraintResponse
      example:
        constraints:
          After-Sales Service: Quality and accessibility of customer support and service
          Availability: Ease of finding and purchasing the desired mobile phone model
          Brand Loyalty: User's tendency to stick with familiar or preferred brands
          Budget: Financial limitations affecting mobile phone purchase decisions
          Technological Compatibility: Compatibility with existing devices and software
          User Reviews: Influence of other users' experiences and feedback
          Warranty: Availability and terms of warranty for the mobile phone
    DependentVariable:
      properties:
        prompt_type:
          anyOf:
          - $ref: '#/components/schemas/PromptType'
          - type: 'null'
          default: generic
        why_prompt:
          type: string
          title: Why Prompt
      type: object
      required:
      - why_prompt
      title: DependentVariable
      example:
        prompt_type: generic
        why_prompt: How does social media usage affect sleep patterns?
    DependentVariableResponse:
      properties:
        dependent_variable:
          type: string
          title: Dependent Variable
      type: object
      required:
      - dependent_variable
      title: DependentVariableResponse
    EducationLevel:
      type: string
      enum:
      - Less than high school
      - High School but no diploma
      - High School Diploma
      - Some College
      - Associates
      - Bachelors
      - Masters
      - PhD
      title: EducationLevel
    Experiment:
      properties:
        title:
          anyOf:
          - type: string
          - type: 'null'
          title: Title
          default: ''
        random_design_seed:
          anyOf:
          - type: integer
          - type: 'null'
          title: Random Design Seed
          default: 200
        attribute_shuffle_seed:
          anyOf:
          - type: integer
          - type: 'null'
          title: Attribute Shuffle Seed
          default: 1000
        price_generation_seed:
          anyOf:
          - type: integer
          - type: 'null'
          title: Price Generation Seed
          default: 1000
        population_seed:
          anyOf:
          - type: integer
          - type: 'null'
          title: Population Seed
          default: 100
        alternative_shuffle_seed:
          anyOf:
          - type: integer
          - type: 'null'
          title: Alternative Shuffle Seed
          default: 10000
        expr_llm_model:
          anyOf:
          - $ref: '#/components/schemas/LLMModel'
          - type: 'null'
          default: gpt4
        dv_llm_model:
          anyOf:
          - $ref: '#/components/schemas/LLMModel'
          - type: 'null'
          default: gpt4
        study_subject_llm_model:
          anyOf:
          - $ref: '#/components/schemas/LLMModel'
          - type: 'null'
          default: azure-openai-gpt4
        levels_llm_model:
          anyOf:
          - $ref: '#/components/schemas/LLMModel'
          - type: 'null'
          default: gpt4
        use_api:
          anyOf:
          - type: boolean
          - type: 'null'
          title: Use Api
          default: true
        use_threading:
          anyOf:
          - type: boolean
          - type: 'null'
          title: Use Threading
          default: true
        use_multiprocessing:
          anyOf:
          - type: boolean
          - type: 'null'
          title: Use Multiprocessing
          default: false
        use_batching:
          anyOf:
          - type: boolean
          - type: 'null'
          title: Use Batching
          default: true
        is_private:
          anyOf:
          - type: boolean
          - type: 'null'
          title: Is Private
          default: false
        survey_prompt:
          anyOf:
          - type: string
          - type: 'null'
          title: Survey Prompt
          default: "Respondent Instructions:\nYou are answering questions as if you\
            \ are a human. Do not break character. \nYou are an agent with the following\
            \ personas: {persona_traits}.\nCurrently living in {state}, {country},\
            \ Time of Survey: year: {year}.\n\nInstructions:\n{study_subject}. \n\
            In this context, we have designed a discrete choice survey question where\
            \ you are presented with three options/alternatives including None of\
            \ these.\nThe options/alternatives are defined as a function of attribute-level\
            \ combinations.\nBelow we provide the list of attributes/features and\
            \ the possible values (attribute level) it may take.\n{attributes_levels}.\n\
            \nConsider the options in the Questionnaire below. Please read the specifications\
            \ carefully. \nThen, select the most preferred option considering that\
            \ the current year is {year} and your place of residence is {country}.\
            \ \n\nQuestionnaire:\n{options}\n{none_option}: None of these\n\n{format_instructions}"
        max_length:
          anyOf:
          - type: integer
          - type: 'null'
          title: Max Length
          default: 40
        batch_size:
          anyOf:
          - type: integer
          - type: 'null'
          title: Batch Size
          default: 20
        attribute_count:
          anyOf:
          - type: integer
            maximum: 7.0
            minimum: 2.0
          - type: 'null'
          title: Attribute Count
          default: 4
        level_count:
          anyOf:
          - type: integer
            maximum: 10.0
            minimum: 2.0
          - type: 'null'
          title: Level Count
          default: 4
        pre_cooked_attributes_and_levels_lookup:
          anyOf:
          - items:
              items:
                anyOf:
                - type: string
                - items:
                    type: string
                  type: array
              type: array
            type: array
          - type: 'null'
          title: Pre Cooked Attributes And Levels Lookup
          default: []
        levels_per_trait:
          anyOf:
          - type: integer
          - type: 'null'
          title: Levels Per Trait
          default: 100
        null_levels:
          anyOf:
          - type: boolean
          - type: 'null'
          title: Null Levels
          default: false
        total_number_of_tasks:
          anyOf:
          - type: integer
          - type: 'null'
          title: Total Number Of Tasks
          default: 0
        confidence_level:
          anyOf:
          - type: string
          - type: 'null'
          title: Confidence Level
          default: Low
        r_squared:
          anyOf:
          - type: integer
          - type: 'null'
          title: R Squared
          default: 0
        spearman_correlation:
          anyOf:
          - type: number
          - type: 'null'
          title: Spearman Correlation
          default: 0.0
        coverage_probability:
          anyOf:
          - type: number
          - type: 'null'
          title: Coverage Probability
          default: 0.0
        sample_size:
          anyOf:
          - type: integer
          - type: 'null'
          title: Sample Size
          default: 0
        tasks_per_respondent:
          anyOf:
          - type: integer
          - type: 'null'
          title: Tasks Per Respondent
          default: 0
        token_count:
          anyOf:
          - type: integer
          - type: 'null'
          title: Token Count
          default: 0
        cost_amount:
          anyOf:
          - type: number
          - type: 'null'
          title: Cost Amount
          default: 0.0
        add_neither_option:
          anyOf:
          - type: boolean
          - type: 'null'
          title: Add Neither Option
          default: true
        include_price_brand:
          anyOf:
          - type: boolean
          - type: 'null'
          title: Include Price Brand
          default: false
        all_combinations_index:
          anyOf:
          - items:
              items:
                type: string
              type: array
            type: array
          - type: 'null'
          title: All Combinations Index
          default:
          - - ''
        population_traits:
          anyOf:
          - $ref: '#/components/schemas/PopulationTraits'
          - type: 'null'
          default: {}
        response_type:
          anyOf:
          - $ref: '#/components/schemas/SurveyResponseType'
          - type: 'null'
          default: discrete
        respondent_dependent_variable:
          anyOf:
          - type: string
          - type: 'null'
          title: Respondent Dependent Variable
          default: ''
        respondent_instructions_preamble:
          anyOf:
          - type: string
          - type: 'null'
          title: Respondent Instructions Preamble
          default: ''
        prompt_type:
          anyOf:
          - type: string
          - type: 'null'
          title: Prompt Type
          default: generic
        why_prompt:
          anyOf:
          - type: string
          - type: 'null'
          title: Why Prompt
          default: ''
        country:
          anyOf:
          - type: string
          - type: 'null'
          title: Country
          default: United States
        state:
          anyOf:
          - type: string
          - type: 'null'
          title: State
          default: New York
        year:
          anyOf:
          - type: string
          - type: 'null'
          title: Year
          default: '2021'
        hb_folder:
          anyOf:
          - type: string
          - type: 'null'
          title: Hb Folder
          default: ''
        hb_run_id:
          anyOf:
          - type: string
          - type: 'null'
          title: Hb Run Id
          default: ''
        is_hb_run:
          anyOf:
          - type: boolean
          - type: 'null'
          title: Is Hb Run
          default: false
        paper_data:
          anyOf:
          - items:
              items:
                type: string
              type: array
            type: array
          - type: 'null'
          title: Paper Data
      type: object
      title: Experiment
      example:
        attribute_count: 2
        country: United States
        dv_llm_model: gpt4
        expr_llm_model: gpt4
        hb_folder: ''
        hb_run_id: ''
        include_price_brand: false
        is_private: false
        level_count: 4
        levels_llm_model: gpt4
        max_length: 40
        null_levels: false
        paper_data: []
        pre_cooked_attributes_and_levels_lookup:
        - - Will this car have advanced safety features?
          - - Advanced airbag system to protect passengers
            - Lane keep assist to prevent drifting into other lanes
        - - What range and charging time will this car offer
          - - Up to 500 miles range, featuring a revolutionary battery system that
              charges in 45 minutes
            - 200 miles range with a robust charging infrastructure for recharging
              in 15 minutes
        prompt_type: generic
        response_type: discrete
        state: New York
        why_prompt: I would like to design a new electric car for the American markets
        year: '2023'
    ExperimentAsyncResponse:
      properties:
        wandb_run_id:
          type: string
          title: Wandb Run Id
        wandb_run_name:
          type: string
          title: Wandb Run Name
      type: object
      required:
      - wandb_run_id
      - wandb_run_name
      title: ExperimentAsyncResponse
    Gender:
      type: string
      enum:
      - male
      - female
      - other
      title: Gender
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
    HistoryRequest:
      properties:
        why_prompt:
          type: string
          title: Why Prompt
        user_profile_attributes:
          additionalProperties:
            anyOf:
            - items:
                type: string
              type: array
            - items:
                type: integer
              type: array
            - items:
                type: number
              type: array
          type: object
          title: User Profile Attributes
        attributes:
          items:
            type: string
          type: array
          title: Attributes
        llm_model:
          anyOf:
          - $ref: '#/components/schemas/LLMModel'
          - type: 'null'
          default: gpt4
      type: object
      required:
      - why_prompt
      - user_profile_attributes
      - attributes
      title: HistoryRequest
      example:
        attributes:
        - price
        - operating_system
        - battery_life
        - camera_quality
        - storage_capacity
        llm_model: gpt4
        user_profile_attributes:
          age_levels:
          - 25
          - 30
          education_levels:
          - Bachelors Degree
          gender_levels:
          - Male
          income_levels:
          - 50000
          - 75000
        why_prompt: What factors influence your choice in selecting a mobile phone?
    HistoryResponse:
      properties:
        history:
          additionalProperties:
            type: string
          type: object
          title: History
      type: object
      required:
      - history
      title: HistoryResponse
      example:
        history:
          Brand Loyalty: The user's tendency to stick with particular mobile phone
            brands over time
          Feature Preferences: The specific features the user has prioritized in past
            mobile phone purchases
          Previous Phone Brands: The specific mobile phone brands the user has used
            in the past
          Previous Purchase Channels: The places or methods through which the user
            typically buys mobile phones (e.g., online, retail stores)
          Previous Purchase Frequency: How often the user typically buys new mobile
            phones
          Price Sensitivity: The user's historical responsiveness to mobile phone
            prices and willingness to pay
    LLMModel:
      type: string
      enum:
      - gpt3
      - gpt4
      - gpt3-instruct
      - azure-openai-gpt4
      - azure-cohere-command-r
      - azure-llama-2
      - gcp-haiku
      - gcp-sonnet
      - gcp-gemini
      - cohere
      - opus
      - sonnet
      - haiku
      - gemini
      - llama-3.1-sonar-large-128k-chat
      - llama-3.1-sonar-large-128k-online
      title: LLMModel
      description: Enum representing the llm model types used in the experiments.
      default: gpt4
      example: gpt4
    LeveledAttribute:
      properties:
        attribute:
          type: string
          title: Attribute
        levels:
          items:
            type: string
          type: array
          maxItems: 15
          minItems: 2
          title: Levels
      type: object
      required:
      - attribute
      - levels
      title: LeveledAttribute
      description: 'Notes:

        # 1: Remember the brands and price attributes when setting ranges.

        # 2: GPT3 sometimes generates more or less than required, so the range should
        be flexible by 2-3.'
      example:
        levels:
        - Black
        - Brown
        - Beige
        - Navy
        - Gray
    LeveledAttributeBase:
      properties:
        attribute:
          type: string
          title: Attribute
        levels:
          items:
            type: string
          type: array
          title: Levels
      type: object
      required:
      - attribute
      - levels
      title: LeveledAttributeBase
    LevelsRequest:
      properties:
        why_prompt:
          type: string
          title: Why Prompt
        country:
          type: string
          title: Country
        attributes:
          items:
            type: string
          type: array
          title: Attributes
        level_count:
          type: integer
          maximum: 10.0
          minimum: 2.0
          title: Level Count
          default: 4
        llm_model:
          anyOf:
          - $ref: '#/components/schemas/LLMModel'
          - type: 'null'
          default: gpt4
      type: object
      required:
      - why_prompt
      - country
      - attributes
      title: LevelsRequest
      example:
        attributes:
        - Battery Range per Charge
        - Vehicle Warranty
        country: United States of America
        level_count: 4
        llm_model: gpt3
        why_prompt: I would like to design a new electric car for the American markets
    MotivationRequest:
      properties:
        why_prompt:
          type: string
          title: Why Prompt
        user_profile_attributes:
          additionalProperties:
            anyOf:
            - items:
                type: string
              type: array
            - items:
                type: integer
              type: array
            - items:
                type: number
              type: array
          type: object
          title: User Profile Attributes
        history:
          items:
            type: string
          type: array
          title: History
        constraints:
          items:
            type: string
          type: array
          title: Constraints
        llm_model:
          anyOf:
          - $ref: '#/components/schemas/LLMModel'
          - type: 'null'
          default: gpt4
      type: object
      required:
      - why_prompt
      - user_profile_attributes
      - history
      - constraints
      title: MotivationRequest
      example:
        constraints:
        - Financial Constraints
        - Parking Availability
        - Timeline to Purchase
        history:
        - Previous Vehicle Type
        - Previous Driving Experience (Years)
        - Driving License
        llm_model: gpt4
        user_profile_attributes:
          age_levels:
          - 35
          - 45
          education_levels:
          - Masters Degree
          gender_levels:
          - Female
          income_levels:
          - 100000
          - 150000
        why_prompt: Why are you considering purchasing an electric vehicle?
    MotivationResponse:
      properties:
        motivation:
          items:
            type: string
          type: array
          title: Motivation
      type: object
      required:
      - motivation
      title: MotivationResponse
      example:
        motivation:
        - Financial
        - Social Norms
        - Status
        - Initial Cost
        - Infrastructure
        - Socially Driven
        - Status
    OrthogonalAttributesLevelsRequest:
      properties:
        why_prompt:
          type: string
          title: Why Prompt
        country:
          type: string
          title: Country
        existing_attributes_levels:
          items:
            $ref: '#/components/schemas/LeveledAttribute'
          type: array
          title: Existing Attributes Levels
        new_attribute_count:
          type: integer
          maximum: 5.0
          minimum: 1.0
          title: New Attribute Count
          default: 4
        level_count:
          type: integer
          maximum: 5.0
          minimum: 2.0
          title: Level Count
          default: 3
        llm_model:
          anyOf:
          - $ref: '#/components/schemas/LLMModel'
          - type: 'null'
          default: gpt4
      type: object
      required:
      - why_prompt
      - country
      - existing_attributes_levels
      title: OrthogonalAttributesLevelsRequest
      description: Pydantic model for a request to create more, new, orthogonal levels
        for attributes.
      example:
        country: United States of America
        existing_attributes_levels:
        - attribute: Battery Range per Charge
          levels:
          - Less than 150 miles
          - 150 to 250 miles
          - 250 to 350 miles
          - 350 to 450 miles
          - More than 450 miles
        - attribute: Vehicle Warranty
          levels:
          - 3 years or 36,000 miles
          - 4 years or 50,000 miles
          - 5 years or 60,000 miles
          - 6 years or 70,000 miles
          - 7 years or 100,000 miles
        level_count: 3
        llm_model: gpt4
        new_attribute_count: 4
        why_prompt: I would like to design a new electric car for the American markets
    PopulationTraits:
      properties:
        age:
          anyOf:
          - items:
              type: integer
            type: array
            maxItems: 2
            minItems: 1
          - type: integer
          - type: 'null'
          title: Age
        education:
          anyOf:
          - items:
              $ref: '#/components/schemas/EducationLevel'
            type: array
          - type: 'null'
          title: Education
        gender:
          anyOf:
          - items:
              $ref: '#/components/schemas/Gender'
            type: array
          - type: 'null'
          title: Gender
        income:
          anyOf:
          - items:
              type: integer
            type: array
            maxItems: 2
            minItems: 1
          - type: integer
          - type: 'null'
          title: Income
      type: object
      title: PopulationTraits
    ProductAttributeRequest:
      properties:
        why_prompt:
          type: string
          title: Why Prompt
        country:
          type: string
          title: Country
        attribute_count:
          type: integer
          maximum: 10.0
          minimum: 2.0
          title: Attribute Count
          default: 7
        level_count:
          type: integer
          maximum: 10.0
          minimum: 2.0
          title: Level Count
          default: 5
      type: object
      required:
      - why_prompt
      - country
      title: ProductAttributeRequest
      example:
        attribute_count: 7
        country: USA
        level_count: 5
        why_prompt: Why are you considering purchasing an electric vehicle?
    PromptType:
      type: string
      enum:
      - generic
      - service
      - product
      - experience
      - policy
      title: PromptType
      description: Enum representing the type of prompts used in experiment designs.
    Question:
      properties:
        question:
          type: string
          title: Question
        sample_responses:
          items:
            $ref: '#/components/schemas/SampleResponse'
          type: array
          title: Sample Responses
      type: object
      required:
      - question
      - sample_responses
      title: Question
      example:
        question: How often have you purchased the same brand of mobile phone in the
          past?
        sample_responses:
        - response: Always the same brand
        - response: Mostly the same brand
        - response: Occasionally the same brand
        - response: Rarely the same brand
        - response: Never the same brand
    QuestionList:
      items:
        $ref: '#/components/schemas/Question'
      type: array
      maxItems: 2
      minItems: 2
      title: QuestionList
    QuestionRequest:
      properties:
        why_prompt:
          type: string
          title: Why Prompt
        user_profile_attributes:
          additionalProperties:
            anyOf:
            - items:
                type: string
              type: array
            - items:
                type: integer
              type: array
            - items:
                type: number
              type: array
          type: object
          title: User Profile Attributes
        model_dimensions:
          additionalProperties:
            items:
              type: string
            type: array
          type: object
          title: Model Dimensions
        llm_model:
          anyOf:
          - $ref: '#/components/schemas/LLMModel'
          - type: 'null'
          default: gpt4
      type: object
      required:
      - why_prompt
      - user_profile_attributes
      - model_dimensions
      title: QuestionRequest
      example:
        llm_model: gpt4
        model_dimensions:
          constraints:
          - User Review
          - Budget
          history:
          - Previous Phone Brands
          - Price Sensitivity
        user_profile_attributes:
          age_levels:
          - 25
          - 30
          education_levels:
          - Bachelors Degree
          income_levels:
          - 50000
          - 75000
        why_prompt: What factors influence your choice in selecting a mobile phone?
    QuestionResponse:
      additionalProperties:
        additionalProperties:
          $ref: '#/components/schemas/QuestionList'
        type: object
      type: object
      title: QuestionResponse
      example:
        constraints:
          Budget:
          - question: How much does your budget limit your choice when selecting a
              mobile phone?
            sample_responses:
            - response: It is the primary factor, I only consider phones within my
                budget
            - response: It is a major factor, but I might stretch my budget for a
                good deal
            - response: It is somewhat important, but I consider other factors equally
            - response: It is a minor factor, I prioritize features over budget
            - response: It does not limit my choice at all, I choose based on features
                and brand
          - question: How often do you find yourself compromising on features due
              to budget constraints when selecting a mobile phone?
            sample_responses:
            - response: Always
            - response: Frequently
            - response: Occasionally
            - response: Rarely
            - response: Never
          User Review:
          - question: How often do you rely on user reviews when selecting a mobile
              phone?
            sample_responses:
            - response: Always
            - response: Often
            - response: Sometimes
            - response: Rarely
            - response: Never
          - question: To what extent do negative user reviews influence your decision
              to avoid purchasing a particular mobile phone?
            sample_responses:
            - response: Significantly
            - response: Moderately
            - response: Somewhat
            - response: Slightly
            - response: Not at all
        history:
          Previous Phone Brands:
          - question: How often have you purchased the same brand of mobile phone
              in the past?
            sample_responses:
            - response: Always
            - response: Mostly
            - response: Occasionally
            - response: Rarely
            - response: Never
          - question: How satisfied have you been with the mobile phone brands you
              have used previously?
            sample_responses:
            - response: Extremely satisfied
            - response: Very satisfied
            - response: Moderately satisfied
            - response: Slightly satisfied
            - response: Not satisfied at all
          Price Sensitivity:
          - question: How often have you chosen a mobile phone based on its price
              in the past?
            sample_responses:
            - response: Always
            - response: Most of the time
            - response: Sometimes
            - response: Rarely
            - response: Never
          - question: When you last purchased a mobile phone, how significant was
              the price in your decision?
            sample_responses:
            - response: Extremely significant
            - response: Very significant
            - response: Moderately significant
            - response: Slightly significant
            - response: Not significant at all
    RunRequest:
      properties:
        filters:
          type: object
          title: Filters
      type: object
      required:
      - filters
      title: RunRequest
      example:
        filters:
          config.user:
            $eq: user_id e.g. auth0|1234567890
          created_at:
            $gt: '2024-12-03T11:35:51.457984'
            $lte: '2024-12-04T11:35:51.457992'
    RunResponse:
      properties:
        id:
          type: string
          title: Id
        name:
          type: string
          title: Name
        state:
          type: string
          title: State
        tags:
          items:
            type: string
          type: array
          title: Tags
        created_at:
          type: string
          title: Created At
        config:
          type: object
          title: Config
      type: object
      required:
      - id
      - name
      - state
      - tags
      - created_at
      - config
      title: RunResponse
    SampleResponse:
      properties:
        response:
          type: string
          title: Response
      type: object
      required:
      - response
      title: SampleResponse
      example:
        response: Always the same brand
    SurveyResponseType:
      type: string
      enum:
      - probabilistic
      - discrete
      title: SurveyResponseType
    TraitLevel:
      properties:
        id:
          type: string
          title: Id
        set_type:
          anyOf:
          - type: string
          - type: 'null'
          title: Set Type
        type:
          type: string
          title: Type
        measurement_type:
          type: string
          title: Measurement Type
        ordinal_rank:
          anyOf:
          - type: integer
          - type: 'null'
          title: Ordinal Rank
        short_description:
          type: string
          title: Short Description
        long_description:
          type: string
          title: Long Description
      type: object
      required:
      - id
      - set_type
      - type
      - measurement_type
      - ordinal_rank
      - short_description
      - long_description
      title: TraitLevel
    UpdateConfig:
      properties:
        config_update:
          type: object
          title: Config Update
      type: object
      required:
      - config_update
      title: UpdateConfig
      example:
        config_update:
          toggle_privacy: true
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
  securitySchemes:
    HTTPBearer:
      type: http
      scheme: bearer
tags:
- name: experiments
  description: 🧪👨‍🔬⚗️Run a novel experiment using attributes, levels, traits, dependent
    variables, preambles, and personas and place results in a run.
  externalDocs:
    description: Description of the Experiment Request Body fields
    url: https://app.gitbook.com/o/jadOkacqKTkHvAmKDCti/s/RPAuLvXI0lCcTz39j3BR/repositories/backend/how-to-run-an-experiment/experiment-request-body-fields
- name: attributes_levels
  description: 📙 Generate product features (attributes) and their variations (levels)
- name: traits
  description: '**Why**. 🔬Causal factors that influence a person''s decision. Output:Return
    a list of persona traits that are available to subconscious.ai users.'
- name: personas
  description: '**Who**. 👪Who is the respondent? A respondent is made up of traits.
    Input: levels_per_trait - the number of levels of persona traits we would like
    to return per trait. trait_keys: a comma separated list of traits from the /traits
    endpoint. Output: Return a list of persona traits that are available to subconscious.ai
    users.'
- name: runs
  description: 📈Contains the experimental design + Experiment Results from WANDB.
- name: human-baselines
  description: 👥 Human baselines endpoints contains human baseline data and AMCEs
- name: copilot
  description: 🤖 AI-assisted experiment design and causal assumption validation
- name: stripe
  description: 💳 Manage Stripe payment processing operations
- name: tasks
  description: 📝 Monitor and manage Celery task statuses
- name: market-simulator
  description: 🏪 Simulate market conditions and consumer behaviors
- name: main
  description: 🛠️ Core system endpoints for health checks and diagnostics
- name: default
  description: 🔄 Experiment state management and real-time event handling
